grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );


html {
  font-size: 62.5%;
  @media screen and (max-width: 1200px) {
	font-size: 50%;
  }
}

.page-referenze {
  .referenze__wrap {
	margin: 0 -2.3rem;
	@media screen and (max-width: 768px) {
	  display: flex;
	}
	@media screen and (max-width: 576px) {
	  display: block;
	  margin: 0;
	}
  }
  .referenze__item {
	flex-basis: calc(25% - 4.6rem);
	margin: 0 2.3rem 68px;
	@media screen and (max-width: 1200px) {
	  flex-basis: calc(33% - 4.6rem);
	}
	@media screen and (max-width: 768px) {
	  flex-basis: calc(50% - 4.6rem);
	}
	@media screen and (max-width: 576px) {
	  margin: 0 auto 40px;
	  max-width: 400px;
	}
  }
}
