.gallery-popup {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.98);
  z-index: 10000;

  &__body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90vh;
    overflow: hidden;
    @media screen and (max-width: 992px) {
      width: 98%;
      height: 70rem;
    }
  }

  &__inner {
    position: relative;
    height: 100%;
    @media screen and (max-width: 576px) {
      height: auto;
    }
    img {
      height: 100%;
      @media screen and (max-width: 992px) {
        height: auto;
      }
    }
  }

  &__close {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.4rem;
    height: 6.4rem;
    background: var(--accent);
    border: none;
    border-radius: 50%;
    z-index: 10;
    transition: all 0.4s;
    @media screen and (max-width: 1600px) {
      top: 3.2rem;
      right: 3.2rem;
    }
    @media screen and (max-width: 576px) {
      top: 1.6rem;
      right: 1.6rem;
      width: 4.8rem;
      height: 4.8rem;
    }
    &:hover {
      background: red;
    }
    svg {
      position: relative;
      transform: scale(0.8);
      @media screen and (max-width: 576px) {
        transform: scale(0.6);
      }
    }
  }
  &__buttons {
    position: absolute;
    bottom: 3.2rem;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6.4rem;
    width: 100%;
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.4rem;
    height: 6.4rem;
    background: var(--accent-lightest);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.4s;
    @media screen and (max-width: 576px) {
      width: 4.8rem;
      height: 4.8rem;
    }
    &:hover {
      background: var(--accent);
    }
    &:last-of-type {
      transform: rotate(180deg);
    }
    svg {
      @media screen and (max-width: 576px) {
        transform: scale(0.6);
      }
    }
  }
}
