.paginate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  margin: 6rem auto 0;
  max-width: 900px;
  @media (max-width: 950px) {
    margin: 4rem auto 0;
  }
  .paginate__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7.5rem;
    cursor: pointer;
    &.disabled {
      cursor: not-allowed !important;
      opacity: 0.6 !important;
      a {
        cursor: not-allowed !important;
      }
    }
    &--right {
      svg {
        position: relative;
        transform: rotate(180deg);
      }
    }
    a {
      position: relative;
      z-index: 2;
      &:hover {
        svg {
          path {
            stroke: #f2d52a;
          }
        }
      }
    }
  }
  li {
    color: #666;
    background: #e1e5ec;
    a:hover,
    &.active {
      a {
        color: #f2d52a;
        background: #375297;
      }
    }
    &:not(.paginate__arrow) {
      a {
        padding: 0.8rem;
        justify-content: flex-start;
        align-items: flex-end;
      }
    }
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.5rem;
    height: 7.5rem;
    font-size: 2.4rem;
    font-weight: 600;
    letter-spacing: 0.12rem;
    color: #666;
    transition: all 0.4s;
    @media screen and (max-width: 576px) {
      width: 4rem;
      height: 4rem;
    }
    &:hover {
      color: #f2d52a;
      background-color: #375297;
    }
    &.disabled {
      cursor: not-allowed !important;
      opacity: 0.6 !important;
    }
    &.active {
      color: #f2d52a;
      background-color: #375297;
    }
  }
  svg {
    stroke: #375297;
  }
}
