.paginate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  margin: 6rem auto 0;
  max-width: 900px;
  @media (max-width: 950px) {
    margin: 4rem auto 0;
  }
  .paginate__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.4rem;
    cursor: pointer;
    &.disabled {
      cursor: not-allowed !important;
      opacity: 0.6 !important;
    }
    &--right {
      position: relative;
      transform: rotate(180deg);
    }
    a {
      position: relative;
      z-index: 2;
      border-color: var(--contrast);
      &:hover {
        &::before {
          opacity: 1;
        }
        svg {
          path {
            stroke: white;
          }
        }
      }
      &::before {
        content: '';
        position: absolute;
        top: 4px;
        left: 4px;
        display: block;
        width: calc(100% - 8px);
        height: calc(100% - 8px);
        background: var(--contrast);
        border-radius: 50%;
        opacity: 0;
        transition: all .4s;
        z-index: 1;
      }
    }
    svg {
      position: relative;
      z-index: 2;
      @media screen and (max-width: 576px) {
        transform: scale(0.5);
      }
      path {
        stroke: var(--contrast);
        transition: all 0.4s;
      }
    }
  }
  li {
    color: white;
    a:hover,
    &.active {
      a {
        color: #62bb46;
        background: rgba(255, 255, 255, 0.04);
      }
    }
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.4rem;
    height: 7.4rem;
    font-size: 2rem;
    border-radius: 48px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    transition: all 0.4s;
    @media screen and (max-width: 576px) {
      width: 4rem;
      height: 4rem;
    }
    &:hover {
      color: white;
      background-color: var(--accent-dark);
    }
    &.disabled {
      cursor: not-allowed !important;
      opacity: 0.6 !important;
    }
    &.active {
      background: rgba(255, 255, 255, 0.08);
    }
  }
}
