::-webkit-input-placeholder { /* Chrome */
	color: #666;
}
:focus::-webkit-input-placeholder {
	color: white;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #666;
}
:focus:-ms-input-placeholder {
	color: white;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #666;
}
:focus::-moz-placeholder {
	color: white;
}
:-moz-placeholder { /* Firefox 4 - 18 */
	color: #666;
}
:focus:-moz-placeholder { /* Firefox 4 - 18 */
	color: #666;
}
:focus:-moz-placeholder {
	color: white;
}
