Проблема
Есть такой модуль для vue Vue slick carousel, который работает с vue приложением, но есть проблема для работы через cdn.
Я в разных рессурсах нашел подсказки и наконец-то подключил через cdn и слайдер работает.

Фронтенд
В качестве элементов для слайдера, я буду использовать массив с недвижимостью.
<div class="vue-filter-slider" ref="immobiles">
  <div v-if="immobiles.length">
    <vue-slick-carousel v-bind="slick_settings">
      <div :href="item.url" v-for="item in immobiles" class="vue-filter__bottom-item immobile" :key="item.id">
        <div class="immobile__img">
          <img :src="item.img" alt="">
          <div class="immobile__price">
            <span>{{ item.prezzo }}</span>
            <em>€</em>
          </div>
        </div>
        <div class="immobile__content">
          <h3 class="immobile__subtitle">{{ item.citta }}</h3>
          <h3 class="immobile__title">{{ item.title }}</h3>
          <div class="immobile__info">
            <div class="info">
              <h3 class="info__title">Locali</h3>
              <div class="info__number">{{ item.locali }}</div>
            </div>
            <div class="info">
              <h3 class="info__title">Mq</h3>
              <div class="info__number">{{ item.mq }}</div>
            </div>
            <div class="info">
              <h3 class="info__title">Bagni</h3>
              <div class="info__number">{{ item.bagni }}</div>
            </div>
          </div>
          <div class="immobile__text">{{ item.loop_text }}</div>
          <a :href="item.url" class="immobile__btn btn">SCOPRI DI PIÙ</a>
        </div>
      </div>
    </vue-slick-carousel>
  </div>
</div>
Подключение
Я создал файл vue-filter-includes.php и подключил его после выше написанного кода.

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<link rel="stylesheet" href="<?php echo get_template_directory_uri(); ?>/assets/libs/vue-slick-carousel/vue-slick-carousel.css">
<script src="<?php echo get_template_directory_uri(); ?>/assets/libs/vue-slick-carousel/vue-slick-carousel.umd.js"></script>

<?php require_once __DIR__ . '/../vue/v-app.php'; ?>
Я установил vue-slick через npm

npm i vue-slick-carousel
И скопировал стили и срипты из папки /node-modules/vue-slick-carousel/dist/ к себе в проект, я всегда так подключаю библиотеки.

Главный файл приложения
В файле v-app получаю данные через api и добавляю в массив immobiles

<script>
  const app = new Vue({
    el: '#app',
    data: {
      slick_settings: {
        "dots": false,
        "infinite": true,
        "initialSlide": 2,
        "speed": 500,
        "slidesToShow": 3,
        "slidesToScroll": 1,
        "swipeToSlide": true,
        "arrows": true,
        "responsive": [
          {
            "breakpoint": 992,
            "settings": {
              "slidesToShow": 2,
              "slidesToScroll": 2,
              "infinite": true,
            }
          },
          {
            "breakpoint": 600,
            "settings": {
              "slidesToShow": 1,
              "slidesToScroll": 1,
              "infinite": true,
            }
          },
        ]
      },
      home_url: "",
      loading: false,
      immobili: [],
      immobiles: [],
      default_immobile: [],
      is_visible_all_immobile: false
    },
    methods: {
      get_api_products() {
        this.loading = true;
        const home_url = window.location.origin;
        let url = home_url + '/wp-json/products/v1/search';
        fetch(url)
          .then(response => response.json())
          .then(res => {
            this.immobiles = res.immobiles;
            this.loading = false;
          })
          .catch(error => console.log(error, 'error'))
      },
    },
    components: {
      VueSlickCarousel: window['vue-slick-carousel']
    },
    mounted() {
      this.home_url = window.location.origin;
      this.get_api_products();
    },
  })
</script>
